body {
  margin: 10;
  padding:10;
  font-family: sans-serif;
}

.newMessageForm {
  margin: 10;
  padding:10;
  font-family: sans-serif;
}

.newConversationForm {
  margin: 10;
  padding:10;
  font-family: sans-serif;
}

.newConversationArea{
  margin: 10;
  padding:10;
  font-family: sans-serif;
}

.MessagesArea{
  margin: 10;
  padding:10;
  font-family: sans-serif;
}

.AppArea{
  margin: 10;
  padding:10;
  font-family: sans-serif;
}
